<form>
    <div class="flex">
        <label for="fname">
            <h4>Enter your name:</h4>
        </label>
        <input class="extend" type="text" name="fname">
    </div>
    <br>
    <br>
    <div class="flex">
        <label for="urlPhoto">
            <h4>Link to your photo :</h4>
        </label>
        <input class="extend" type="text" name="urlPhoto"><br>
    </div>
</form>


<div>
    <div>
        <h3 class="marginXXXXS-left">Question1</h3>
        <h4 class="marginXXXS-left">Your mind is always buzzing with unexplored ideas and plans.</h4>
    </div>

    <div class="dropdown marginXS-left"></div>
        <select id="questionOne" class="dropbtn marginXS-left">
            <option value="Rate Yourself">Rate Yourself</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </div>
</div>

<br>
<br>
<br>

<div>
    <div>
        <h3 class="marginXXXXS-left">Question2</h3>
        <h4 class="marginXXXS-left">Generally speaking, you rely more on your experience than your imagination.</h4>
    </div>

    <div class="dropdown marginXS-left"></div>
        <select id="questionTwo" class="dropbtn marginXS-left">
            <option value="Rate Yourself">Rate Yourself</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </div>
</div>

<br>
<br>
<br>

<div>
    <div>
        <h3 class="marginXXXXS-left">Question3</h3>
        <h4 class="marginXXXS-left">You find it easy to stay relaxed and focused even when there is some pressure.</h4>
    </div>

    <div class="dropdown marginXS-left"></div>
        <select id="questionThree" class="dropbtn marginXS-left">
            <option value="Rate Yourself">Rate Yourself</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </div>
</div>

<br>
<br>
<br>

<div>
    <div>
        <h3 class="marginXXXXS-left">Question4</h3>
        <h4 class="marginXXXS-left">You rarely do something just out of sheer curiosity.</h4>
    </div>


    <div class="dropdown marginXS-left"></div>
        <select id="questionFour" class="dropbtn marginXS-left">
            <option value="Rate Yourself">Rate Yourself</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </div>
</div>

<br>
<br>
<br>

<div>
    <div>
        <h3 class="marginXXXXS-left">Question5</h3>
        <h4 class="marginXXXS-left">People can rarely upset you.</h4>
    </div>


    <div class="dropdown marginXS-left"></div>
        <select id="questionFive" class="dropbtn marginXS-left">
            <option value="Rate Yourself">Rate Yourself</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </div>
</div>

<br>
<br>
<br>

<div>
    <div>
        <h3 class="marginXXXXS-left">Question6</h3>
        <h4 class="marginXXXS-left">It is often difficult for you to relate to other people’s feelings.</h4>
    </div>


    <div class="dropdown marginXS-left"></div>
        <select id="questionSix" class="dropbtn marginXS-left">
            <option value="Rate Yourself">Rate Yourself</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </div>
</div>

<br>
<br>
<br>

<div>
    <div>
        <h3 class="marginXXXXS-left">Question7</h3>
        <h4 class="marginXXXS-left">In a discussion, truth should be more important than people’s sensitivities.</h4>
    </div>


    <div class="dropdown marginXS-left"></div>
        <select id="questionSeven" class="dropbtn marginXS-left">
            <option value="Rate Yourself">Rate Yourself</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </div>
</div>

<br>
<br>
<br>

<div>
    <div>
        <h3 class="marginXXXXS-left">Question8</h3>
        <h4 class="marginXXXS-left">You rarely get carried away by fantasies and ideas.</h4>
    </div>


    <div class="dropdown marginXS-left"></div>
        <select id="questionEight" class="dropbtn marginXS-left">
            <option value="Rate Yourself">Rate Yourself</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </div>
</div>

<br>
<br>
<br>

<div>
    <div>
        <h3 class="marginXXXXS-left">Question9</h3>
        <h4 class="marginXXXS-left">You think that everyone’s views should be respected regardless of whether they are
            supported by facts or not.</h4>
    </div>

    <div class="dropdown marginXS-left"></div>
        <select id="questionNine" class="dropbtn marginXS-left">
            <option value="Rate Yourself">Rate Yourself</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </div>
</div>

<br>
<br>
<br>

<div>
    <div>
        <h3 class="marginXXXXS-left">Question10</h3>
        <h4 class="marginXXXS-left">You feel more energetic after spending time with a group of people.</h4>
    </div>


    <div class="dropdown marginXS-left"></div>
        <select id="questionTen" class="dropbtn marginXS-left">
            <option value="Rate Yourself">Rate Yourself</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        </div>
</div>


<form>
    <a href=""></a><input class="submitBtn" type="submit" value="Submit">
</form>