<div class="bodySub">


    <div class="diagonalBox"></div>


    <div>
        <div class="bufferTop"></div>

        <div class="headerPhoto">
            <img class="bigPhoto"
                src="https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80">
        </div>

        <div class="flex">
            <div class="buttonLine">
                <a id="btn" href="/selfInput">
                    <div class="findFriend">
                        <h6 class="buttonText">Find Friend</h6>
                    </div>
                </a>
            </div>

            <div class="buttonLine">
                <a id="btn" href="/matches">
                    <div class="findFriend">
                        <h6 class="buttonText">Current Friends</h6>
                    </div>
                </a>
            </div>
        </div>


        <footer class="footer">
            <div class="container">
                <p><a href="/api/friends">API Friend Link</a> | <a
                        href="https://github.com/daniel-thao/Friend-Finder">GitHub Repo</a></p>
            </div>
        </footer>

    </div>



</div>