{{!-- {{makeFriends}}
{{hbsObject.makeFriends.data}} --}}

<ul>
    {{#each makeFriends}}
        <li>{{data}}</li>
    {{/each}}
</ul>


{{!-- {{friending}} --}}

    <footer class="footer">
        <div class="container">
            <p><a href="/api/friends">API Friend Link</a> | <a href="https://github.com/daniel-thao/Friend-Finder">GitHub Repo</a></p>
        </div>
    </footer>